*{
  box-sizing: border-box;
  font-family: 'Inter';
}

header{
  padding: 1em;
  text-align: right;
  width: 90%;
}

.img-container{
  width: 70%;
  margin: auto;
  text-align: center;
}

.profile__img{
  width: 88px;
  height: 88px;
  border-radius: 50%;  
}

.twitter{
  font-weight: 700;
  font-size: 20px;
}

#slack{
  display: none;
}


.container{
  width: 70%;
  max-width:  1152px;
  margin: auto;
  margin-top: 60px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

a{
  text-decoration: none;
}

.anchor{
  background-color: #EAECF0;
  color: #101828;
  padding: 24px 32px;
  border: 1px solid #EAECF0;
  border-radius: 8px;
}

.App .footer1{
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 4em;
}

.App .footer1 img{
  width: 24px;
  height: 24px;
}

.App .footer2{
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 24px;
  padding: 1em;
}

.footer2 *{
  margin: auto;
}

.App.footer2 p{
  font-size: 14px;
  color: #667085;
}

.App .separator{
  width: 90%;
  margin: auto;

}

@media screen and (max-width: 768px){
  .App  .container{
    width: 90%;
  }
  .App .footer1{
    width: 90%;
  }
  .App .footer2{
    width: 90%;
  }
  #slack{
    display: none;
  }
  #twitter{
    display: block;
  }

  .App .footer2{
    display: block;
    text-align: left;
  }

  .App .footer2 *{
    margin-top: 1em;
  }
}